<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Student</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p><strong>First Name : </strong>
            <input type="text" name="first_name">
        </p>
        <p>
            <strong>Last Name : </strong>
            <input type="text" name="last_name">
        </p>
        <p><input type="submit" value="Create"></p>
    </form>
</body>
</html>